@import 'styles/variables.scss';

.bookmark{
  padding: 5px;
  margin: 5px;
  min-width: 300px;
  border: 1px solid $lightBlue;
  max-width: 600px;
}
.bookmark .fa {
  margin-right: 5px;
}
.bookmark .description{
  margin-left: 15px;
  font-style: italic;
}
.bookmark .tags{
  margin-left: 5px;
}
.tag {
  font-size: 11px;
  border-radius: $spacing;
  padding-left: $spacing;
  padding-right:$spacing;
  margin-right: $spacing;
  background-color: $tagBackground;
}
.bookmarksDisplayHeader{
  margin-bottom: 10px;
}
.bookmarksDisplayHeader button{
  margin-left: 10px;
}
