.bookmark{
  padding-bottom: 5px;
}

.bookmark .description{
  margin-left: 15px;
}
.bookmark .tags{
  margin-left: 5px;
}
.bookmarksDisplayHeader{
  margin-bottom: 10px;
}
.bookmarksDisplayHeader button{
  margin-left: 10px;
}
