@import "~@blueprintjs/core/dist/blueprint.css";

@import url('https://fonts.googleapis.com/css?family=Monda:regular,bold,italic&subset=latin,latin-ext');

body {
  margin: 0;
  padding: 0;
  font-family: 'Monda', sans-serif;
  position: relative;
  height: 100%;
  background-color: #eeeeee;
}

input, button, span, textarea {
  font-family: 'Monda', sans-serif;
}
.navContainer{
  width: 500px;
  background-color: #424242;
  color: white;
  margin:auto;
  padding: 5px;
  margin-top: 100px;
}

nav a {
  padding: 5px;
  padding-left: 4px;
  display: block;
  border-bottom: 1px solid #525252;
  color: white;
  text-align: left;
}

nav a.active {
  background-color: #555;
}

nav .selected a, nav a:hover {
  background-color: #ddd;
  text-decoration: none;
  color: #0E5A8A;
}
nav .fa{
    width: 15px;
    text-align: left;
}
.green {
  color: #0A6640;
}
.blue {
  color: #0E5A8A;
}
.orange {
  color: #A66321;
}
.red {
  color: #A82A2A;
}
.mainContainer{
  padding: 15px;
  min-height: 500px;
}

.mid{
  width: 100%;
  height: 100%;
  box-sizing:border-box;
}

.active {
  font-weight: bold;
}

#login{
  width: 300px;
  margin: auto;
}

.userAgentColumn{
  width: 90px;
}

.note {
  margin: 10px;
}

.note .createdTime {
  color: #424242;
  display: inline;
  margin-left: 5px;
}

.note .content {
  margin: 10px;
  padding: 7px;
  padding-bottom: 1px;
}

.buttonSpace {
  margin-top: 20px;
}
.textButton {
  background-color:inherit;
  border: 0px;
  margin-top: inherit;
  margin-bottom: inherit;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
}
.textButton:hover {
  background-color:#ddd;;

}
.serverInfo {
  width:100%;
  padding: 5px;
  font-size: 12px;
  color: white;
  text-align: right;
  display: inline;
}

.logoutButton {
  display: inline;
  text-align: right;
}

.logoutButton a{
  color: white;
}
.chartsContainer{
    display: flex;
    flex-flow: row wrap;
}
.chartContainer{
  margin: 5px;
}

.pt-tag{
  margin-right: 5px;
}

.bookmark{
  padding-bottom: 5px;
}

.bookmark .description{
  margin-left: 15px;
}
.bookmark .tags{
  margin-left: 5px;
}
.bookmarksDisplayHeader{
  margin-bottom: 10px;
}
.bookmarksDisplayHeader button{
  margin-left: 10px;
}
.organizeContainer{
    display: table;
}
.todoPanel{
  width: 300px;
  margin: 5px;
  display: table-cell;
}
.todoItemCompleted{
  text-decoration: line-through;
}

.queuePanel{
  width: 600px;
  margin: 5px;
}
.queueItem{
  margin-top: 10px;
  padding: 3px;
}
.queueHeader {
  margin: 0px;
  padding: 5px;
}

.queueHeader .queueAdded{
  margin-right: 10px;
  margin-left: 5px;
  float: right;
}
.queueDescription {
  margin: 5px;
  padding: 5px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.queueAddItem input {
  margin-bottom: 10px;
}
.summaryContainer{
    display: flex;
    flex-flow: row wrap;
}

.summary {
    margin: 5px;
    border: 1px solid #444;
    border-radius: 3px;
    background-color: #fff;
}
.summaryAmount{
    font-size: 50px;
    text-align: center;
    padding: 5px;
}
.summaryLabel{
    border-top: 1px solid #444;
    padding: 4px;
    text-align: center;
}
.updateAvailable{
    animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}
@keyframes blinker { to { opacity: 0; } }
.executionHistory{
    margin-top: 10px;
}
.feeds{
  display: flex;
  flex-flow: row;
}
.feedsContainer{
  width: 250px;
  border: 1px solid black;
  background-color: #fff;
}
.feed{
  padding: 2px;
  border-bottom: 1px solid #0E5A8A;
}
.activeFeed {
  background-color: #0A6640;
  color: #fff;
}
.feedItemsContainer{
  width: 80%;
  margin-left: 5px;
}
.previousFeedItem,.nextFeedItem{
  border: 1px solid #aaa;
  color: #aaa;
  padding: 3px;
}
.currentFeedItem{
  border: 1px solid black;
  background-color: #fff;
}
.feedItemTitle{
  padding: 3px;
  border-bottom: 1px solid black;
}
.feedItemBody{
  padding: 10px;
}
.feedPubDate{
  float: right;
}
.notebooksContainer{
  display: flex;
  flex-flow: row;
}

.notesListings{
  width: 250px;
    border: 1px solid black;
    background-color: #fff;
}
.noteListing{
  padding: 2px;
  border-bottom: 1px solid #0A6640;
}

.activeNote{
    background-color: #0E5A8A;
    color: #fff;
}

.notebookDisplay{
  margin-left: 10px;
  width: 100%;
}
.notebookCommandBar{
  margin-bottom: 10px;
}
.notebookDisplay textarea{
  min-height: 600px;
  margin-top: 10px;
  width: 100%;
}
