@import 'styles/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Monda:regular,bold,italic&subset=latin,latin-ext');

body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  font-family: 'Monda', sans-serif;
}
