@import 'styles/variables.scss';

.button {
  background-color: $white;
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
  font-weight: bold;
}

.button:hover {
  background-color:#ddd;
}

.button .fa {
  margin-right: 5px;
}

.button-primary {
  border-color: $primary;
  color: $primary;
}

.button-primary:hover {
  background-color: $gray;
}
.saveButton {
  border-color: $green;
  color: $green;
}
.cancelButton {
  border-color: $orange;
  color: $orange;
}
.loadMoreButton {
  border-color: $blue;
  color: $blue;
}
.textButton {
  border: 0px;
  background-color: inherit;
  padding-top: 0px;
  padding-bottom: 0px;
  text-decoration: none;
  cursor: pointer;
  border: 0px;
}
