@import 'styles/variables.scss';

.card {
  @include standardBorder();
  min-width: 100px;
  background-color: $white;
  margin:$spacing;
  text-align: center;
}

.cardContent {
  font-size: 50px;
}

.cardTitle {
  border-top: 1px solid $borderColor;
  font-size: 10px;
  padding: 5px;
}
