[Unit]
Description=Apollo Client

[Service]
ExecStart=/usr/bin/serve -s /var/apollo/client
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
