@import 'styles/variables.scss';

.feed {
  padding-left: 2px;
}

.selectedFeed {
  background-color: $selectedBackground;
}

.previousFeedItem,.nextFeedItem{
  border: 1px solid $borderColor;
  color: #aaa;
  padding: 3px;
}
.currentFeedItem{
  border: 1px solid $borderColor;
  background-color: #fff;
}
.feedItemTitle{
  padding: 3px;
  border-bottom: 1px solid $borderColor;
}
.feedItemBody{
  padding: 10px;
}
.feedPubDate{
  float: right;
}
