@import 'styles/variables.scss';

$containerWidth: 500px;
.quickNavigatorContainer {
  width: $containerWidth;
  height: $terminalPanelHeight;
  overflow-x: hidden;
}
.quickNavigatorContainer input {
  width: $containerWidth;
  border: 0;
  background-color: $quickCommandInputBackgroundColor;
  caret-color: $yellow;
  padding: $spacing;
  color: $white;
}

.quickCommand {
  margin: $spacing;
  padding: $spacing;
  border-radius: $standardBorderRadius;
  background-color: $white;
  cursor: pointer;
}

.quickCommand .fa {
  margin-right: $spacing;
}
