@import 'styles/variables.scss';

.terminal-base {
  max-width: unset;
  height: unset;
  width: 25%;
}

.terminal-container-main {
  height: $terminalPanelHeight;
  max-height: unset;
  overflow: unset;
  max-width: unset;
}
