<h1>Application Info</h1>
<table class="table">
  <tr>
    <td>version</td>
    <td>{{ model.version }}</td>
  </tr>
  <tr>
    <td>commit</td>
    <td>{{ model.commitHash }}</td>
  </tr>
  <tr>
    <td>built</td>
    <td>{{ model.compiledOn }}</td>
  </tr>
</table>
