@import 'styles/variables.scss';

.checklistListing {
  padding-left: 3px;
  padding-right: 3px;
}
.selected {
  background-color: $selectedBackground
}
.checklistFormContainer {
  padding: $spacing;
}
.checklistFormContainer select {
  margin: $spacing;
}
.checklistFormContainer input {
  width: 75%;
  margin: $spacing;
}
.checklistFormContainer textarea {
  width: 90%;
  margin: $spacing;
  padding: $spacing;
}
.formItemContainer .removeButton {
  float: right;
}
.formItemContainer{
  margin: $spacing;
  padding: $spacing;
  @include standardBorder();
}
.completionLogContainer {
  padding: $spacing;
}

.completionLogContainer h1 {
  margin: 0px;
}
