@import 'styles/variables.scss';

.bookmarkFormContainer {
  padding: 10px;
}

.bookmarkFormContainer input {
  width: 99%;
  margin-bottom: $spacing;
}


.bookmarkFormContainer textarea {
  width: 100%;
}
