@import 'styles/variables.scss';

.accountTitle{
  padding-left: $spacing;
  border-bottom: 1px solid $borderColor;
}

.currentBalance{
  border-top: 1px solid $borderColor;
  padding-top: $spacing;
  margin-top: $spacing;
}