@import 'styles/variables.scss';

.obliqueStrategies {
  @include standardBorder();
  margin: $spacing;
  background-color: #fff;
  width: 300px;
}
.strategyTitle {
  font-weight: bold;
  padding: $spacing;
}
.strategyDescription {
  font-style: italic;
  padding: $spacing;
}
