@import 'styles/variables.scss';

.weatherLocation{
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  border-bottom: 1px solid $borderColor;
  padding: 5px;
}
.weatherIcon {
  color: $blue;
  font-size: 50px;
  margin: 10px;
  text-align: center;
}
.forecastsContainer{
  display: flex;
  flex-flow: row;
}

.forecastDay {
  padding: 5px;
  border-right: 1px solid  $borderColor;
  width: 11%;
}
.forecastsContainer .forecastDay:last-child{
  border: none;
}
.forecastSummary{
  font-style: italic;
}
.weatherAlerts{
  border-top: 1px solid $borderColor;
  padding: $spacing;
}
.weatherAlerts .fa {
  color: $red;
  font-size: 25px;
  margin-right: $spacing * 2;
}
.alertDescription{
  text-transform: uppercase;
  margin-top: $spacing;
}

.weeklySummary{
  display: inline;
  font-weight: normal;
  font-style: italic;
  text-transform:none;
}
