@import 'styles/variables.scss';

.note {
  @include standardBorder();
  margin-bottom: $spacing;
  background-color: $white;
}

.note .createdTime {
  font-size: 11px;
  display: inline;
  margin-left: $spacing;
}

.note .content {
  margin-left: $spacing * 2;
}

.note .content p {
  margin-top: $spacing;
  margin-bottom: $spacing;
}
.note .tags {
  margin: $spacing;
}
.logEntryFormContainer{
  width: 50%;
  min-width: 500px;
}

.logEntryFormContainer input {
  width: 97%;
  margin: $spacing;
  margin-top: 0;
}

.logEntryFormContainer textarea {
  width: 97%;
  margin: $spacing;
  height: 100px;
}
