@import 'styles/variables.scss';

.commandFilterInput{
  width: 94%;
  margin: $spacing;
}

.commandDescription{
  padding: $spacing;
}
.commandDescriptionHeader{
  font-size: 20px;
  font-weight: bold;
}

.commandExecutionHeader {
  margin-left: $spacing;

}

.commandExecutionHeader .fa {
  color: $white;
}

.commandExecutionHeader-Success {
  color: $success;
}

.commandExecutionHeader-Error {
  color: $lightRed;
}

.commandExecutionInfo {
  margin: $spacing;
}

.commandExecutionResult {
  background-color: rgb(0, 43, 54);
  color: $white;
}
