@import 'styles/variables.scss';

.board{
  @include standardBorder();
  margin: $spacing;
  width: 300px;
}

.boardTitle{
  background-color: $white;
  border-top-left-radius: $standardBorderRadius;
  border-top-right-radius: $standardBorderRadius;
  border-bottom: 1px solid $borderColor;
  padding: 3px;
}
.boardMenu{
  float: right;
}
.boardItem{
  background-color: #fff;
  margin: $spacing;
  @include standardBorder();
}

.boardItemTitle{
  border-bottom:  1px solid $borderColor;
  padding: 3px;
  font-weight: bold;
}
.boardItemTitle a{
  float: right;
  text-decoration: none;
  color: $blue;
}
.boardItemDescription{
  padding: $spacing;
  font-style: italic;
}
.boardItemForm {
  padding: $spacing;
}
.boardItemForm input {
  margin-bottom: $spacing;
  width: 99%;
}
.boardItemForm textarea {
  width: 100%;
}
