.obliqueStrategies {
  border-radius: 5px;
  border: 3px solid #A66321;
  background-color: #fff;
  width: 300px;
}
.strategyTitle {
  font-weight: bold;
  padding: 5px;
}
.strategyDescription {
  font-style: italic;
  border-top:1px solid #A66321;
  padding: 5px;
}
