$gray: #eee;
$green: #0A6640;
$blue: #0E5A8A;
$orange: #A66321;
$red: #A82A2A;
$white: #fff;

$lightGreen: $green + #333;

$background-color: $gray;
$primary: $blue;
$error: $red;
$success: $green;
$invalid: $orange;
$selectedBackground: $lightGreen;
$menuBarBackground: $blue;
