$gray: #eee;
$green: #0A6640;
$blue: #0E5A8A;
$orange: #A66321;
$red: #A82A2A;
$white: #fff;

$lightGreen: $green + #333;
$lightBlue: $blue + #333;
$lightRed: $red + #333;

$background-color: $gray;
$primary: $blue;
$error: $red;
$success: $green;
$invalid: $orange;
$selectedBackground: $lightGreen;
$menuBarBackground: $lightBlue;
$terminalPanelHeight: 150px;
$pageMargin: 5px;
$standardBorderRadius: 5px;
$spacing: 5px;
$borderColor: $background-color - #333;

@mixin standardBorder(){
  border: 1px solid $borderColor;
  border-radius: $standardBorderRadius;
}
