@import 'styles/variables.scss';

.menuBar {
  background-color: $menuBarBackground;
  margin-bottom: 10px;
  color: #fff;
  padding: 3px;
}

.menuBar .textButton {
  margin-bottom: 0px;
}

.menuBar a {
  color: $white;
  text-decoration: none;
}

.applicationInfo {
  text-align: right;
  flex-grow: 1;
}

.menuLink {
  padding-left: 5px;
  border-right: $darkGreen 1px solid;
  padding-right: 5px;
}
